// SPDX-License-Identifier: GPL-2.0
/*
 * SDM845 Xiaomi Mi 8 Family Device Tree Include
 *
 * Copyright (c) 2021, The Linux Foundation. All rights reserved.
 * Copyright (c) 2024, Jacob Hrbek <kreyren@fsfe.org>
 *
 * Relevant Materials:
 *  1. FDT Dump From MUIU (Android): https://github.com/user-attachments/files/16667567/fdt_dump.txt
 *  2. Compatibility submitted in sdm845-mainline for kernel version 5.12.8: https://gitlab.com/sdm845-mainline/linux/-/commit/9a023cf2ea5fa4a22c1ad5039240f08a3c5432cf
 *  3. Firmware Breakdown: https://wiki.debian.org/InstallingDebianOn/SHIFT/SHIFT6mq#Firmware
 *  4. DTS in linux 4.9 from LineageOS: https://github.com/LineageOS/android_kernel_xiaomi_sdm845
*   5. Dmesg dump from LineageOS 21: https://github.com/user-attachments/files/16684801/android.log
 */

/dts-v1/;

#include <dt-bindings/leds/common.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>
#include <dt-bindings/regulator/qcom,rpmh-regulator.h>
#include <dt-bindings/sound/qcom,q6afe.h>
#include <dt-bindings/sound/qcom,q6asm.h>
#include <dt-bindings/sound/qcom,q6afe.h>
#include <dt-bindings/sound/qcom,q6asm.h>
#include <dt-bindings/sound/qcom,q6voice.h>
#include "sdm845.dtsi"
#include "sdm845-wcd9340.dtsi"

// REVIEW(Krey): In Ref. 5 on Line 311~313 it outputs these used
#include "pm8998.dtsi" // PMIC@SID0: PM8998 v2.0 options: 0, 0, 0, 0↵
#include "pm8005.dtsi" // PMIC@SID4: PM8005 v2.0 options: 0, 0, 0, 0↵
#include "pmi8998.dtsi" // PMIC@SID2: PMI8998 v2.1 options: 0, 0, 0, 0↵

/*
 * Delete following upstream (sdm845.dtsi) reserved
 * memory mappings which are different in this family of devices.
 */
/delete-node/ &tz_mem; // Does not seem to exist on this family of devices
/delete-node/ &adsp_mem;
/delete-node/ &wlan_msa_mem;
/delete-node/ &mpss_region;
/delete-node/ &venus_mem;
/delete-node/ &cdsp_mem;
/delete-node/ &mba_region;
/delete-node/ &slpi_mem;
/delete-node/ &spss_mem;
/delete-node/ &rmtfs_mem;

/ {
	// REVIEW(Krey): The formfactor is 'slate', but the DTS doesn't differenciate it?
	chassis-type = "handset";
	qcom,msm-id = <321 0x20001>;

	aliases {
		serial0 = &uart9;
		serial1 = &uart6;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	/* Reserved memory changes from downstream */
	reserved-memory {
		/*
		 * From Dump of /sys/firmware/fdt on URSA (Equuleus) in Android:
		 * - hyp_region@85700000
		 * - xbl_region@85e00000
		 * - removed_region@85fc0000
		 * - qseecom_region@0x8ab00000
		 * - camera_region@0x8bf00000
		 * - ips_fw_region@0x8c400000
		 * - ipa_gsi_region@0x8c410000
		 * - gpu_region@0x8c415000
		 * - adsp_region@0x8c500000
		 * - wlan_fw_region@0x8e300000
		 * - modem_region@0x8e400000
		 * - video_region@0x95c00000
		 * - cdsp_region@0x96100000
		 * - mba_region@0x96900000
		 * - slpi_region@0x96b00000
		 * - pil_spss_region@0x97f00000
		 * - cont_splash_region@9d400000
		 * - ramoops@b0000000
		 * - ramdump_fb_region@af000000
		 */

		adsp_mem: adsp@8c500000 {
			reg = <0 0x8c500000 0 0x1e00000>;
			no-map;
		};

		wlan_msa_mem: wlan-msa@8e300000 {
			reg = <0 0x8e300000 0 0x100000>;
			no-map;
		};

		mpss_region: mpss@8e400000 {
			reg = <0 0x8e400000 0 0x7800000>;
			no-map;
		};

		venus_mem: venus@95c00000 {
			reg = <0 0x95c00000 0 0x500000>;
			no-map;
		};

		cdsp_mem: cdsp@96100000 {
			reg = <0 0x96100000 0 0x800000>;
			no-map;
		};

		mba_region: mba@96900000 {
			reg = <0 0x96900000 0 0x200000>;
			no-map;
		};

		slpi_mem: slpi@96b00000 {
			reg = <0 0x96b00000 0 0x1400000>;
			no-map;
		};

		spss_mem: spss@97f00000 {
			reg = <0 0x97f00000 0 0x100000>;
			no-map;
		};

		/*
		 * The rmtfs memory region in downstream is 'dynamically allocated'
		 * but given the same address every time. Hard code it as this address is
		 * where the modem firmware expects it to be.
		 */
		rmtfs_mem: rmtfs@f7301000 {
			compatible = "qcom,rmtfs-mem";
			reg = <0 0xf7301000 0 0x200000>;
			no-map;

			qcom,client-id = <1>;
			qcom,vmid = <15>;
		};
		
		/*
		 * It seems like reserving the old rmtfs_mem region is also needed to prevent
		 * random crashes which are most likely modem related, more testing needed.
		 */
		removed_region: removed-region@88f00000 {
			no-map;
			reg = <0 0x88f00000 0 0x200000>;
		};
	};
};

&adsp_pas {
	status = "okay";
	firmware-name = "qcom/sdm845/mi8/adsp.mbn";
};

// FIXME-QA(Krey): This configuration seems to be shared with other devices and should probably be moved in DTSI
&apps_rsc {
	regulators-0 {
		// REVIEW(Krey): In schematics this is labeled as PM845?
		compatible = "qcom,pm8998-rpmh-regulators";
		qcom,pmic-id = "a";

		vdd-s1-supply = <&vph_pwr>; // VDD_S1
		vdd-s2-supply = <&vph_pwr>; // VDD_S2
		vdd-s3-supply = <&vph_pwr>; // VDD_S3
		vdd-s4-supply = <&vph_pwr>; // VDD_S4
		vdd-s5-supply = <&vph_pwr>; // VDD_S5
		vdd-s6-supply = <&vph_pwr>; // VDD_S6
		vdd-s7-supply = <&vph_pwr>; // VDD_S7
		vdd-s8-supply = <&vph_pwr>; // VDD_S8
		vdd-s9-supply = <&vph_pwr>; // VDD_S9
		vdd-s10-supply = <&vph_pwr>; // VDD_S10
		vdd-s11-supply = <&vph_pwr>; // VDD_S11
		vdd-s12-supply = <&vph_pwr>; // VDD_S12
		vdd-s13-supply = <&vph_pwr>; // VDD_S13

		vdd-l1-l27-supply = <&vreg_s7a_1p025>; // VDD_L1_27
		vdd-l2-l8-l17-supply = <&vreg_s3a_1p35>; // VDD_L2_8_17
		vdd-l3-l11-supply = <&vreg_s7a_1p025>; // VDD_L3_11
		vdd-l4-l5-supply = <&vreg_s7a_1p025>; // VDD_L4_5
		vdd-l6-supply = <&vph_pwr>; // VDD_L6
		vdd-l7-l12-l14-l15-supply = <&vreg_s5a_2p04>; // VDD_L7_12_14_15
		vdd-l9-supply = <&vreg_bob>; // VDD_L9
		vdd-l10-l23-l25-supply = <&vreg_bob>; // VDD_L10_23_25
		vdd-l13-l19-l21-supply = <&vreg_bob>; // VDD_L13_19_21
		vdd-l16-l28-supply = <&vreg_bob>; // VDD_L16_28
		vdd-l18-l22-supply = <&vreg_bob>; // VDD_L18_22
		vdd-l20-l24-supply = <&vreg_bob>; // VDD_L20_24
		vdd-l26-supply = <&vreg_s3a_1p35>; // VDD_L26

		vin-lvs-1-2-supply = <&vreg_s4a_1p8>; // VIN_LVS_1_2

		// TODO(Krey): OnePlus-common has this different and juding by schematics it's more accurate than these which feel like a sane defaults.. They likely invested more time into this so ask the devs for details

		// REVIEW(Krey): Comparing this to oneplus the `vreg_s3a_1p35` exists in the schematics, but `vreg_s2a_1p125` does not so commenting it out
		// vreg_s2a_1p125: smps2 {
		// 	regulator-min-microvolt = <1100000>;
		// 	regulator-max-microvolt = <1100000>;
		// };

		// VREG_S1 -> VSENSE_S1A_P

		// VREG_S2 -> VSENSE_S2A_P

		vreg_s3a_1p35: smps3 { // VREG_S3A_1P35
			regulator-min-microvolt = <1352000>;
			regulator-max-microvolt = <1352000>;
		};

		// REVIEW(Krey): According to QM75001 datasheet (https://www.datasheets360.com/pdf/-5786772158464047528) it takes minimum +0.8 and max +4.6 with typ +3.4 (Volts)
		// REVIEW(Krey): Expects max 4.6, but using 4.2 as a sane buffer?
		vreg_s4a_ip8: smps4 { // VREG_S4A_1P8
			regulator-min-microvolt = <800000>; // 0.8 V
			regulator-max-microvolt = <4200000>; // 4.2 V
		}

		vreg_s5a_2p04: smps5 { // VREG_S5A_2P04
			regulator-min-microvolt = <1904000>;
			regulator-max-microvolt = <2040000>;
		};

		// VRAG_S6 -> VSENSE_S6A_P

		vreg_s7a_1p025: smps7 {
			regulator-min-microvolt = <900000>;
			regulator-max-microvolt = <1028000>;
		};

		// TODO(Krey): Check all min and max volts

		vdda_qlink_lv:
		vdda_qlink_lv_ck:
		vdda_qrefs_0p875:
		vdd_qusb_hs0:
		vdda_mipi_dsi0_pll:
		vdda_mipi_dsi1_pll:
		vdda_mipi_csi0_0p9:
		vdda_mipi_csi1_0p9:
		vdda_mipi_csi2_0p9:
		vdd_mipi_dsi0_1p2:
		vdda_pcie_core:
		vdda_ufs1_core:
		vdda_hp_pcie_core:
		vdda_pll_cc_ebi01:
		vdda_pll_cc_ebi02:
		vdda_sp_sensor:
		vdda_ufs2_core:
		vdda_usb2_ss_core:
		vdda_usb1_ss_core:
		vreg_l1a_0p88: ldo1 { // VREG_L1A_0P88
			regulator-min-microvolt = <???>;
			regulator-max-microvolt = <???>;
			regulator-initial-mode = <???>;
		};

		vddpx_10:
		vreg_l2a_1p2: ldo2 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-always-on;
		};

		// REVIEW(Krey): The `VREG_L3A_1P0` and `VREG_L8A_1P2` are connected, but separated by a resistor R222 -> Is this ok to write it this way? E.g. Oneplus common doesn't include this regulator maybe bcs it goes in the RF transceiver?

		vdd_1p0_xo:
		vdd_1p0_gnss:
		vdd_1p0_rx0:
		vdd_1p0_rx1:
		vdd_1p0_rx2:
		vdd_1p0_rx:
		vreg_l3a_1p0: ldo3 {
			regulator-min-microvolt = <1000000>;
			regulator-max-microvolt = <1000000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		// vdd_ssc_mx_1:
		// vdd_ssc_mx_2:
		// vdd_ssc_mx_3:
		// vreg_l4a_op8: ldo4 {
		// 	regulator-min-microvolt = <???>;
		// 	regulator-max-microvolt = <???>;
		// 	regulator-initial-mode = <???>;
		// }

		vdd_wcss_cx_1:
		vdda_wcss_pll:
		vdd_wcss_cx_2:
		vdd_wcss_mx_1:
		vdd_wcss_mx_2:
		vreg_l5a_0p8: ldo5 {
			regulator-min-microvolt = <800000>;
			regulator-max-microvolt = <800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vddpx_13:
		vreg_l6a_1p8: ldo6 {
			regulator-min-microvolt = <1856000>;
			regulator-max-microvolt = <1856000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vdd18_xtal:
		vdd18_vc0_ch1:
		vreg_l7a_1p8: ldo7 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vdd_1p2_ana:
		vdd_1p2_ana1:
		vdd_1p2_ana2:
		vdd_1p2_ana3:
		vdd_1p2_ana4:
		vdd_1p2_rx0:
		vdd_1p2_tx0:
		vdd_1p2_rx1:
		vdd_1p2:
		vreg_l8a_1p2: ldo8 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1248000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		// VDD(SIM_PMU_1)
		vddpx_5:
		vreg_l9a_1p8: ldo9 {
			regulator-min-microvolt = <1704000>;
			regulator-max-microvolt = <2928000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		// VDD(SIM_PMU_2)
		vddpx_6:
		vreg_l10a_1p8: ldo10 {
			regulator-min-microvolt = <1704000>;
			regulator-max-microvolt = <2928000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vdd_1p0_dig1:
		vdd_1p0_dig2:
		vreg_l11a_1p0: ldo11 {
			regulator-min-microvolt = <1000000>;
			regulator-max-microvolt = <1048000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		// REVIEW(Krey): Connected to ldo1 and ldo20 are connected together, but separated by R814, unsure how to handle for `VDDA_MIPI_DSI0_0P9` and `VDDA_MIPI_DSI1_0P9`

		// VREG_BB_CLK
		// SHDN_N
		vdda_qrefs_1p8:
		vdd_qfprom:
		vdd_qfprom_sp:
		vdda_apc1_cs_1p8:
		vdda_gfx_cs_1p8:
		vdda_qusb_hs0_1p8:
		vddpx_11:
		vreg_l12a_1p8: ldo12 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vddpx_2:
		vreg_l13a_2p95: ldo13 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2960000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l14a_1p88: ldo14 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vdd_1p8_tx0:
		vdd_1p8_ana0:
		vdd_1p8_tx1:
		vdd_1p8_ana1:
		vdd_1p8_fbrx:
		vreg_l15a_1p8: ldo15 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		// Just goes to bunch of VDDs
		vreg_l16a_2p7: ldo16 {
			regulator-min-microvolt = <2704000>;
			regulator-max-microvolt = <2704000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		/* WCN3990 Pins:
		 * 27 - VDD13_WL_CH0
		 * 84 - VDD13_WL_CH1
		 * 33 - VDD13_WL_SYNTH_CH0
		 * 90 - VDD13_WL_SYNTH_CH1
		 * 12 - VDD13_BT_SYNTH
		 * 66 - VDD13_PM
		 *  8 - VDD13_FM
		 * 11 - VDD13_BT_BB
		 * 18 - VDD13_BT_FM_BBPLL 
		 */
		vdd13_wl_ch0:
		vdd13_wl_ch1:
		vdd13_wl_synth_ch0:
		vdd13_wl_synth_ch1:
		vdd13_bt_synth:
		vdd13_pm:
		vdd13_fm:
		vdd13_bt_bb:
		vdd13_bt_bb:
		vdd13_bt_fm_bbpll:
		vdd_wcss_adcdac_1:
		vdd_wcss_adcdac_2:
		vreg_l17a_1p3: ldo17 {
			regulator-min-microvolt = <1304000>;
			regulator-max-microvolt = <1304000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		// Not Connected in PM845
		// vreg_l18a_2p7: ldo18 {
		// 	regulator-min-microvolt = <2704000>;
		// 	regulator-max-microvolt = <2960000>;
		// 	regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		// };

		vreg_l19a_3p0: ldo19 {
			regulator-min-microvolt = <2856000>;
			regulator-max-microvolt = <3104000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};


		vreg_l20a_2p95: ldo20 {
			regulator-min-microvolt = <2704000>;
			regulator-max-microvolt = <2960000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		// vreg_bob
		vreg_l21a_2p95: ldo21 {
			regulator-min-microvolt = <2704000>;
			regulator-max-microvolt = <2960000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		// VIN for NCP160AFCS180T2G
		vreg_l22a_2p85: ldo22 {
			regulator-min-microvolt = <2864000>;
			regulator-max-microvolt = <3312000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		/* WCN3990 Pins:
		 * 86 - VDD33_WL_CH1
		 * 92 - VDD33_WL_DRV_CH1
		 */
		vdd33_wl_ch1:
		vdd33_wl_drv_ch1:
		vreg_l23a_3p3: ldo23 {
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3312000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vdda_qusb_hs0_3p1:
		vreg_l24a_3p075: ldo24 {
			regulator-min-microvolt = <3088000>;
			regulator-max-microvolt = <3088000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		/* WCN3990 Pins:
		 * 29 - VDD33_WL_CH0
		 * 35 - VDD33_WL_5G_DRV_CH0
		 *  6 - VDD33_WL_BT_DRV_CH0
		 *  9 - VDD33_BT_PA_CH2
		 * 23 - VDD33_FEM
		 * 30 - VDD33_PM_DLDO
		 */
		vdd33_wl_ch0:
		vdd33_wl_5g_drv_ch0:
		vdd33_wl_bt_drv_ch0:
		vdd33_bt_pa_ch2:
		vdd33_fem:
		vdd33_pm_dldo:
		vreg_l25a_3p3: ldo25 {
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3312000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vdda_hv_ebi0:
		vdda_hv_ebi1:
		vdda_hv_ebi2:
		vdda_hv_ebi3:
		vdda_pcie_1p2:
		vdda_ufs1_1p2:
		vdda_hp_pcie_1p2:
		vdda_ufs2_1p2:
		vdda_usb1_ss_1p2:
		vdda_usb2_ss_1p2:
		vdda_mipi_csi_1p25:
		vdda_mipi_dsi0_1p2:
		vdda_mipi_dsi1_1p2:
		vreg_l26a_1p2: ldo26 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vdd_ssc_cx_1:
		vdd_ssc_cx_2:
		vdd_ssc_cx_3:
		vreg_l27a_0p75: ldo27 {
			regulator-min-microvolt = <???>;
			regulator-max-microvolt = <???>;
			regulator-initial-mode = <???>;
		}

		vreg_l28a_3p3: ldo28 {
			regulator-min-microvolt = <???>;
			regulator-max-microvolt = <???>;
			regulator-initial-mode = <???>;
		};

		// Not found in schematics
		// vreg_lvs1a_1p8: lvs1 {
		// 	regulator-min-microvolt = <1800000>;
		// 	regulator-max-microvolt = <1800000>;
		// };

		// AP_CS
		// AP_SCL / AP_SCLK
		vreg_lvs2a_1p8: lvs2 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};
	};

	regulators-1 {
		compatible = "qcom,pmi8998-rpmh-regulators";
		qcom,pmic-id = "b";

		vdd-bob-supply = <&vph_pwr>; // VDD_BOB

		vreg_bob: bob {
			regulator-min-microvolt = <3312000>;
			regulator-max-microvolt = <3600000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_AUTO>;
			regulator-allow-bypass;
		};
	};

	regulators-2 {
		compatible = "qcom,pm8005-rpmh-regulators";
		qcom,pmic-id = "c";

		vdd-s1-supply = <&vph_pwr>; // VDD_S1
		vdd-s2-supply = <&vph_pwr>; // VDD_S2
		vdd-s3-supply = <&vph_pwr>; // VDD_S3
		vdd-s4-supply = <&vph_pwr>; // VDD_S4

		vdd_modem_1:
		vdd_modem_2:
		vdd_modem_3:
		vdd_modem_4:
		vdd_modem_5:
		vdd_modem_6:
		vdd_modem_7:
		vreg_s2c_0p75: smps2 {
			regulator-min-microvolt = <???>;
			regulator-max-microvolt = <???>;
		}

		// EBI0_CAL:
		// EBI2_CAL:
		// ZQ0_0
		// ZQ0_3
		// ZQ1_0
		// ZQ1_3
		// VDDIO_EBI0_1
		// VDDIO_EBI0_2
		// VDDIO_EBI0_3
		// VDDIO_EBI0_4
		// VDDIO_EBI1_1
		// VDDIO_EBI1_2
		// VDDIO_EBI1_3
		// VDDIO_EBI1_4
		// VDDIO_EBI2_1
		// VDDIO_EBI2_2
		// VDDIO_EBI2_3
		// VDDIO_EBI2_4
		// VDDIO_EBI3_1
		// VDDIO_EBI3_2
		// VDDIO_EBI3_3
		// VDDIO_EBI3_4
		// VDDIO_CK_EBI0
		// VDDIO_CK_EBI1
		// VDDIO_CK_EBI2
		// VDDIO_CK_EBI3
		// VDDQ_1
		// VDDQ_2
		// VDDQ_3
		// VDDQ_4
		// VDDQ_5
		// VDDQ_6
		// VDDQ_7
		// VDDQ_8
		vreg_s3c_0p6: smps3 {
			regulator-min-microvolt = <600000>;
			regulator-max-microvolt = <600000>;
		};
	};
};

&cdsp_pas {
	status = "okay";
	firmware-name = "qcom/sdm845/mi8/cdsp.mbn";
};

&gcc {
	protected-clocks = <GCC_QSPI_CORE_CLK>,
				<GCC_QSPI_CORE_CLK_SRC>,
				<GCC_QSPI_CNOC_PERIPH_AHB_CLK>,
				<GCC_LPASS_Q6_AXI_CLK>,
				<GCC_LPASS_SWAY_CLK>;
};

// REVIEW(Krey): Needed? Used by beryllium
&gmu {
	status = "okay";
};

// REVIEW(Krey): Needed? Used by beryllium
&gpi_dma0 {
	status = "okay";
};

// REVIEW(Krey): Needed? Used by beryllium
&gpi_dma1 {
	status = "okay";
};

&gpu {
	status = "okay";

	zap-shader {
		memory-region = <&gpu_mem>;
		firmware-name = "qcom/sdm845/mi8/a630_zap.mbn";
	};
};

// REVIEW(Krey): Used by beryllium which should use the same modem for these to be valid?
&ibb {
	regulator-min-microvolt = <4600000>;
	regulator-max-microvolt = <6000000>;
	regulator-over-current-protection;
	regulator-pull-down;
	regulator-soft-start;
	qcom,discharge-resistor-kohms = <300>;
};

&lab {
	regulator-min-microvolt = <4600000>;
	regulator-max-microvolt = <6000000>;
	// REVIEW(Krey): Unsure why is this commented out
	// regulator-over-current-protection;
	regulator-pull-down;
	regulator-soft-start;
};

&mdss {
	status = "okay";
};

&mdss_dsi0_out {
	remote-endpoint = <&panel_in_0>;
	data-lanes = <0 1 2 3>;
};

&mdss_dsi0_phy {
	status = "okay";
	// REVIEW(Krey->Caleb): This doesn't seem to match with what's in the schematics, maybe it means VREG_L1A_0P88 ?
	vdds-supply = <&vreg_l1a_0p875>;
};

/* Modem/wifi*/
&mss_pil {
	status = "okay";
	firmware-name = "qcom/sdm845/mi8/mba.mbn", "qcom/sdm845/mi8/modem.mbn";
};

&ipa {
	qcom,gsi-loader = "self";
	memory-region = <&ipa_fw_mem>;
	firmware-name = "qcom/sdm845/mi8/ipa_fws.mbn";
	status = "okay";
};

// REVIEW(Krey): Taken from beryllium, unsure if it's correct
&i2c5 {
	#dma-cells = <3>;
	status="okay";

	dmas = <&gpi_dma0 0 5 QCOM_GPI_I2C>,
		   <&gpi_dma0 1 5 QCOM_GPI_I2C>;
	dma-names = "tx", "rx";

	/*smart PA*/
	tas2559_codec: tas2559@4c{
		#sound-dai-cells = <1>;
		compatible = "ti,tas2559";
		reg = <0x4c>;
		ti,tas2559-reset-gpio = <&tlmm 12 0>;
		ti,tas2560-reset-gpio = <&tlmm 76 0>;
		ti,tas2559-addr = <0x4c>;
		ti,tas2560-addr = <0x4d>;
	};
};

// REVIEW(Krey): Taken from beryllium, unsure if it's correct
&pm8998_gpios {
	vol_up_pin_a: vol-up-active-state {
		pins = "gpio6";
		function = "normal";
		input-enable;
		bias-pull-up;
		qcom,drive-strength = <PMIC_GPIO_STRENGTH_NO>;
	};
};

// REVIEW(Krey): Taken from beryllium, unsure if it's correct
&pmi8998_lpg {
	status = "okay";

	led@5 {
		reg = <5>;
		color = <LED_COLOR_ID_WHITE>;
		function = LED_FUNCTION_STATUS;
	};
};

// REVIEW(Krey): Taken from beryllium, unsure if it's correct
&pmi8998_wled {
	status = "okay";
	qcom,current-boost-limit = <970>;
	qcom,ovp-millivolt = <29600>;
	qcom,current-limit-microamp = <20000>;
	qcom,num-strings = <2>;
	qcom,switching-freq = <600>;
	qcom,external-pfet;
	qcom,cabc;
};

// REVIEW(Krey): Taken from beryllium, unsure if it's correct as equuleus support Quick Charge 4.0 where beryllium only Quick Charge 3.0
&pmi8998_charger {
	status = "okay";

	monitored-battery = <&battery>;
};

&pmi8998_fg {
	status = "okay";

	power-supplies = <&pmi8998_charger>;
	monitored-battery = <&battery>;
};

&pm8998_resin {
	linux,code = <KEY_VOLUMEDOWN>;
	status = "okay";
};

&q6asmdai {
	dai@0 {
		reg = <0>;
	};

	dai@1 {
		reg = <1>;
	};

	dai@2 {
		reg = <2>;
	};

	dai@3 {
		reg = <3>;
	};
};

&pmi8998_haptics {
	status = "okay";
	qcom,wave-play-rate-us = <4878>;
};

&q6cvp {
	status = "okay";
};

&q6cvs {
	status = "okay";
};

&q6mvm {
	status = "okay";
};

&qupv3_id_0 {
	status = "okay";
};


&qupv3_id_1 {
	status = "okay";
};

&qup_uart9_rx {
	drive-strength = <2>;
	bias-pull-up;
};

&qup_uart9_tx {
	drive-strength = <2>;
	bias-disable;
};

&tlmm {
	gpio-reserved-ranges = <0 4>, <81 4>;

	// REVIEW(Krey): Unsure..
	// cam0_default: cam0_default {
	// 	rst {
	// 		pins = "gpio80";
	// 		function = "gpio";

	// 		drive-strength = <2>;
	// 		bias-disable;
	// 	};

	// 	avdd {
	// 		pins = "gpio40";
	// 		function = "gpio";

	// 		drive-strength = <2>;
	// 		bias-disable;
	// 	};

	// 	mclk0 {
	// 		pins = "gpio13";
	// 		function = "cam_mclk";

	// 		drive-strength = <2>;
	// 		bias-disable;
	// 	};
	// };

	// sdc2_default_state: sdc2-default-state {
	// 	clk-pins {
	// 		pins = "sdc2_clk";
	// 		bias-disable;
	// 		drive-strength = <16>;
	// 	};

	// 	cmd-pins {
	// 		pins = "sdc2_cmd";
	// 		bias-pull-up;
	// 		drive-strength = <10>;
	// 	};

	// 	data-pins {
	// 		pins = "sdc2_data";
	// 		bias-pull-up;
	// 		drive-strength = <10>;
	// 	};
	// };

	// sdc2_card_det_n: sd-card-det-n-state {
	// 	pins = "gpio126";
	// 	function = "gpio";
	// 	bias-pull-up;
	// };

	// ts_int_default: ts-int-default-state {
	// 	pins = "gpio31";
	// 	function = "gpio";
	// 	drive-strength = <16>;
	// 	bias-pull-down;
	// 	input-enable;
	// };

	// ts_reset_default: ts-reset-default-state {
	// 	pins = "gpio32";
	// 	function = "gpio";
	// 	drive-strength = <16>;
	// 	output-high;
	// };

	// ts_int_sleep: ts-int-sleep-state {
	// 	pins = "gpio31";
	// 	function = "gpio";
	// 	drive-strength = <2>;
	// 	bias-pull-down;
	// 	input-enable;
	// };

	// ts_reset_sleep: ts-reset-sleep-state {
	// 	pins = "gpio32";
	// 	function = "gpio";
	// 	drive-strength = <2>;
	// 	bias-disable;
	// 	output-low;
	// };
};

&uart6 {
	status = "okay";

	pinctrl-0 = <&qup_uart6_4pin>;

	bluetooth {
		compatible = "qcom,wcn3990-bt";

		vddio-supply = <&vreg_s4a_1p8>; // VDD18_IO
		vddxo-supply = <&vreg_l7a_1p8>; // VDD18_XTAL & VDD18_VCO_CH1
		vddrf-supply = <&vreg_l17a_1p3>; // Goes to multiple Radio Frequeny related pins
		vddch0-supply = <&vreg_l25a_3p3>; // VDD33_WL_CH0 ?
		max-speed = <3200000>;
	};
};

&uart9 {
	label = "LS-UART1";
	status = "okay";
};

&ufs_mem_hc {
	status = "okay";

	reset-gpios = <&tlmm 150 GPIO_ACTIVE_LOW>;

	vcc-supply = <&vreg_l20a_2p95>;
	vcc-max-microamp = <600000>;
};

// REVIEW(Krey): Taken from 5.12.8 port
&ufs_mem_phy {
	status = "okay";
	vdda-phy-supply = <&vdda_ufs1_core>;
	vdda-pll-supply = <&vdda_ufs1_1p2>;
};

&usb_1 {
	status = "okay";
};

&usb_1_dwc3 {
	dr_mode = "peripheral";
};

// REVIEW(Krey): Taken from 5.12.8 port
&usb_1_hsphy {
	status = "okay";

	vdd-supply = <&vdda_usb1_ss_core>;
	vdda-pll-supply = <&vdda_qusb_hs0_1p8>;
	vdda-phy-dpdm-supply = <&vdda_qusb_hs0_3p1>;

	qcom,imp-res-offset-value = <8>;
	qcom,hstx-trim-value = <QUSB2_V2_HSTX_TRIM_21_6_MA>;
	qcom,preemphasis-level = <QUSB2_V2_PREEMPHASIS_5_PERCENT>;
	qcom,preemphasis-width = <QUSB2_V2_PREEMPHASIS_WIDTH_HALF_BIT>;
};

// REVIEW(Krey): Taken from 5.12.8 port
&usb_1_qmpphy {
	status = "okay";

	vdda-phy-supply = <&vdda_usb1_ss_1p2>;
	vdda-pll-supply = <&vdda_usb1_ss_core>;
};

&usb_2 {
	status = "okay";
};

// REVIEW(Krey): Taken from 5.12.8 port
&usb_2_dwc3 {
	/*
	 * Though the USB block on SDM845 can support host, there's no vbus
	 * signal for this port on MTP. Thus (unless you have a non-compliant
	 * hub that works without vbus) the only sensible thing is to force
	 * peripheral mode.
	 */
	dr_mode = "peripheral";
};

// REVIEW(Krey): Taken from 5.12.8 port
&usb_2_hsphy {
	status = "okay";

	vdd-supply = <&vdda_usb2_ss_core>;
	vdda-pll-supply = <&vdda_qusb_hs0_1p8>;
	vdda-phy-dpdm-supply = <&vdda_qusb_hs0_3p1>;

	qcom,imp-res-offset-value = <8>;
	qcom,hstx-trim-value = <QUSB2_V2_HSTX_TRIM_22_8_MA>;
};

// REVIEW(Krey): Taken from 5.12.8 port
&usb_2_qmpphy {
	status = "okay";

	vdda-phy-supply = <&vdda_usb2_ss_1p2>;
	vdda-pll-supply = <&vdda_usb2_ss_core>;
};

&venus {
	status = "okay";
	firmware-name = "qcom/sdm845/mi8/venus.mbn";
};

// REVIEW(Krey): Taken from beryllium, unsure..
// &wcd9340 {
// 	reset-gpios = <&tlmm 64 GPIO_ACTIVE_HIGH>;
// 	vdd-buck-supply = <&vreg_s4a_1p8>;
// 	vdd-buck-sido-supply = <&vreg_s4a_1p8>;
// 	vdd-tx-supply = <&vreg_s4a_1p8>;
// 	vdd-rx-supply = <&vreg_s4a_1p8>;
// 	vdd-io-supply = <&vreg_s4a_1p8>;
// 	qcom,micbias1-microvolt = <2700000>;
// 	qcom,micbias2-microvolt = <1800000>;
// 	qcom,micbias3-microvolt = <2700000>;
// 	qcom,micbias4-microvolt = <2700000>;
// };

// REVIEW(Krey): Taken from 5.12.8 port
&wifi {
	status = "okay";

	vdd-0.8-cx-mx-supply = <&vreg_l5a_0p8>;
	vdd-1.8-xo-supply = <&vreg_l7a_1p8>;
	vdd-1.3-rfa-supply = <&vreg_l17a_1p3>;
	vdd-3.3-ch0-supply = <&vreg_l25a_3p3>;
};

// REVIEW(Krey): Taken from 5.12.8 port, not needed anymore?
// /* PINCTRL - additions to nodes defined in sdm845.dtsi */

// &qup_i2c10_default {
// 	pinconf {
// 		pins = "gpio55", "gpio56";
// 		drive-strength = <2>;
// 		bias-disable;
// 	};
// };

// &qup_uart9_default {
// 	pinconf-tx {
// 		pins = "gpio4";
// 		drive-strength = <2>;
// 		bias-disable;
// 	};

// 	pinconf-rx {
// 		pins = "gpio5";
// 		drive-strength = <2>;
// 		bias-pull-up;
// 	};
// };

&slpi_pas {
	firmware-name = "qcom/sdm845/mi8/slpi.mbn";
	status = "okay";
};

&cci {
	status = "okay";
};

// REVIEW(Krey): Used on beryllium which uses the same camera Sony IMX363
&camss {
	vdda-phy-supply = <&vreg_l1a_0p875>;
	vdda-pll-supply = <&vreg_l26a_1p2>;

	vdda-csi0-supply = <&vdda_mipi_csi0_0p9>;
	vdda-csi1-supply = <&vdda_mipi_csi1_0p9>;
	vdda-csi2-supply = <&vdda_mipi_csi2_0p9>;

	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			csiphy0_ep: endpoint {
				clock-lanes = <7>;
				data-lanes = <0 1 2 3>;
				remote-endpoint = <&imx363_ep>;
			};
		};
	};
};

// &cci_i2c0 {
// 	camera@10 {
// 		compatible = "sony,imx363";
// 		reg = <0x10>;

// 		reset-gpios = <&tlmm 80 0>;
// 		pinctrl-names = "default";
// 		pinctrl-0 = <&cam0_default>;

// 		clocks = <&clock_camcc CAM_CC_MCLK0_CLK>;
// 		clock-names = "xvclk";
// 		clock-frequency = <24000000>;

// 		vif-supply = <&cam_iovdd>;
// 		vana-supply = <&cam0_avdd>;
// 		vdig-supply = <&cam0_dvdd>;

// 		orientation = <1>;
// 		rotation = <270>;

// 		status = "okay";

// 		port {
// 			imx363_ep: endpoint {
// 				clock-lanes = <1>;
// 				data-lanes = <1 2 3 4>;
// 				link-frequencies = /bits/ 64 <636000000>;
// 				remote-endpoint = <&csiphy0_ep>;
// 			};
// 		};
// 	};
// };
